<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dog Pack</title>
</head>
<body>
  <h1>New Dog</h1>
    <form action="/" method="post">
        Name: 
        <input type="text" name='name'>
        Breed: 
        <input type="text" name='breed'>
        Weight: 
        <input type="number" name='weight'>
        <input type="submit" value="Add this dog to the pack!">
    </form>
    <a href="/">View all dogs</a>
</body>
</html>