<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Cars</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <h1>Cars</h1>
  <% for (var x in cars) { %>
    <h3>
      <img src="<%= cars[x].file %>" alt="<%= cars[x].name %>" class="galleryImg" </h3>

      <% } %>
        <h3>
          <a href="/">Home</a>
        </h3>
        <h3>
          <a href="/cats">View Cats</a>
        </h3>
        <h3>
          <a href="/cars/new">Add a Car</a>
        </h3>

</body>

</html>